<a href="https://colab.research.google.com/github/ankitkarmakar95/learnings/blob/main/Logistic_Reg_on_Bank_Marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [3]:
bank_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bank-additional-full.csv')

In [4]:
bank_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [20]:
main=bank_data[['duration', 'age', 'campaign','y']]
main.head()

   duration  age  campaign   y
0       261   56         1  no
1       149   57         1  no
2       226   37         1  no
3       151   40         1  no
4       307   56         1  no

In [28]:
X=main[main.columns.drop('y')]
Y=main['y']
print('X shape  ', X.shape)
print('Y shape  ', Y.shape)

X shape   (41188, 3)
Y shape   (41188,)

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=100)
print('X_train shape  ', X_train.shape)
print('y_train shape  ', y_train.shape)

X_train shape   (28831, 3)
y_train shape   (28831,)

In [35]:
#model building on train data
model= LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [38]:
test_predictions = model.predict(X_test)
print(classification_report(y_test,test_predictions))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94     10975
         yes       0.61      0.15      0.25      1382

    accuracy                           0.89     12357
   macro avg       0.76      0.57      0.60     12357
weighted avg       0.87      0.89      0.87     12357

In [39]:
train_predictions = model.predict(X_train)
print(classification_report(y_train,train_predictions))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94     25573
         yes       0.59      0.16      0.25      3258

    accuracy                           0.89     28831
   macro avg       0.74      0.57      0.60     28831
weighted avg       0.87      0.89      0.86     28831